{% extends 'base.html' %}
{% block title %}prof{% endblock %}

{% block content %}
    <div class="container">

    name: <b>{{ user.first_name }}</b><br>
    surname:<b>{{ user.last_name }}</b><br>
    <p>userbname:<b>{{ user }}</b></p>
    <!--<p>faculty:<b>{{ user.user_f.faculty }}</b><br></p> -->
    sport:<b>{{ user.user_f.sport_id }}</b><br>
    {{ user.email }}<br>
    {{ user.user_f.phone }}<br>




     <a href="{% url 'logout' %}">чыгуу</a><br>
     <a href="{% url 'edit_profile' %}">профильди өзгөртүү</a><br>
     <a href="{% url 'change_password' %}">пароль алмаштыруу</a><br>
   <!--  <a href="{% url 'del-user' %}">профилди өчүрүп салуу(!)</a><br> -->

</div>
{% endblock %}

