{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block content %}
<div class="container">

{% if form.errors %}
    <p class="error">туура эмес колдонуучу</p>
{% endif %}
    <form action="./auth" method="post">{% csrf_token %}
        <label> username:<input type="username" name="username" /><br> </label>
        <label> password:<input type="password" name="password" /><br></label>

        <input type="submit" value="войти" /><br>

           <a href="{%  url 'register_user' %}">регистрация</a><br>
           <a href="{%  url 'password_reset' %}">забыли пароль?</a>
    </form>
    </div>
{% endblock %}