{% extends 'base.html' %}

{% block content %}
    <div class="container">
    {% if user.user_f.is_true %}
         <form action="/add_new/" class="form-inline" method="post">
            {% csrf_token %}
            <label for="name" >
                Name:<input type="text" name="name"/>
            </label>
            <label for="surname">
                surname:<input type="text" name="surname"/>
            </label>
            <label for="num">
                num:<input type="text" name="num"/>
            </label>
            <label for="tel">
                phone:<input type="text" name="tel"/>
            </label>
            <input type="submit" value="добавить" />
        </form>
        <table border="1">
	<thead>
    	<tr>

			<th>
				 name
			</th>
			<th>
				surname
			</th>
			<th>
				num
			</th>
			<th>
				phonne
			</th>
            <th>
				depart
			</th>
             <th>
				user_f
			</th>
		</tr>
	</thead>
        </br>
        </br>
	<tbody>
	    {% for student in students%}
		<tr>

			<td>{{student.name}}</td>
			<td>{{student.surname}}</td>
			<td>{{student.pers_num}}</td>
			<td>{{student.phone}}</td>
            <td>{{student.get_user}}</td>
            <td>{{student.user_f_id}}</td>
			<td>
                <button><a href="/edit/{{student.id}}">edit </a></button/>
                <button><a href="/delete/{{student.id}}">delete </a></button>
            </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
        {% else %}
        <div class="onay">
        <p>вас еще не активировали как админстратора</p>
        </div>
    {% endif %}

    </div>
{% endblock %}