 @import "/homepage/static/css/bootstrap.css" screen;
 @import "/homepage/static/css/bootstrap-theme.css" handheld, print;

.container2{
    width: 100%;
}
.navbar2 {
    width: 100%;
}


.field {
    clear:both; text-align:right;}

label {float:left;}
.reg{

}